/*  top boarder of tab boxes 
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #733cbc;
}

.box.box-primary {
    border-top-color: #733cbc;
}


element.style {
    position: absolute;
    left: 10%;
    top: 0px;
    width: 475px;
    height: 300px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}
*/

.box.box-primary {
    border-top-color: #2e6b3b;
      /*overflow:scroll;*/
}

.bttn-unite.bttn-default {
    border-color: #045832;
    color: #00a65a;
}

.bttn-unite.bttn-default:focus, .bttn-unite.bttn-default:hover {
    background: #00a65a82;
    color: #00a65a;
}

.bttn-unite.bttn-default:before {
    background: #8bc49b;
}
.bttn-unite.bttn-default:after {
    background: #eee;
}
